body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face{
  font-family: mustardo;
  src: local('mustardo'), url(./mustardo.ttf) format('ttf');
}
.custom-font{
  font-family: mustardo;
}
.carousel-container{
	top: 50px;
	width: 95%;
	margin-left: 50px;
	margin-right: 50px;
}
.blurimg{
	position: relative;
}
.card-title{
	position: absolute;
	top: 60%;
	left: 5%;
	color: black;
}
.card-label{
	position: absolute;
	top: 70%;
	left: 5%;
	color: black;
}